{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div>
    <div style="text-align: center; max-width:500px; margin: 4rem auto;">
        <p>
            {{ target_user.date_joined }}
        </p>
        
        
        {% if target_user.profile %}
        <img src=" {{ target_user.profile.image.url }}" alt=""
        style="height: 8rem; width: 8rem; border-radius: 10rem; margin-bottom: 2rem; object-fit: cover;">

        <h2 style="font-family: NanumSquareOTFRegular;">
            {{ target_user.profile.nickname }}


        </h2>
        <h5>
            {{ target_user.profile.message }}
        </h5>
        <a class="material-icons"
        style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
        href="{% url 'profileapp:update' pk=target_user.profile.pk %}">edit</a>

        {% else %}
            {% if target_user == user %}
            <a href="{% url 'profileapp:create' %}">
                <h2 style="font-family: NanumSquareOTFRegular;">
                Create Profile
                </h2>
            </a>
             
            {% else %}
            <h4>죄송합니다. 페이지를 사용할 수 없습니다.</h4>
            <h6>클릭하신 링크가 잘못되었거나 페이지가 삭제되었습니다.</h6><a href="{% url 'accountapp:home' %}">홈으로 돌아가기.</a>
            {% endif %}
        {% endif %}

        {% if target_user == user %}

        <a class="material-icons"
            style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
            href="{% url 'accountapp:update' pk=user.pk %}">
            settings
        </a>
        <a class="material-icons"
            style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
            href="{% url 'accountapp:delete' pk=user.pk %}">
            cancel
        </a>
        {% endif %}
    </div>

    <div>
        {% include 'snippets/list_fragment.html' with project_list=object_list %}
    </div>
</div>
{% endblock %}