.zerowater_logo{
    font-family: 'Shippori Mincho B1', serif;

}

.zerowater_footer_button{
    font-size: .9rem;
}

.zerowater{
    text-align: center;  
    margin-top: 2rem;
}

.zerowater_header{
    text-align: center;  
    margin: 2rem 0;
}